<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <h1>
    Каталог
  </h1>
  <div class="cards">
    <a href="http://127.0.0.1:8000/sneakers">
      <div class="card1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Linecons_white-t-shirt.svg/1200px-Linecons_white-t-shirt.svg.png" alt="">
        <p>Кроссовки</p>
      </div>
    </a>
    <a href="http://127.0.0.1:8000/boots">
      <div class="card2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Linecons_white-t-shirt.svg/1200px-Linecons_white-t-shirt.svg.png" alt="">
        <p>Ботинки</p>
      </div>
    </a>
    <a href="http://127.0.0.1:8000/bags">
      <div class="card3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Linecons_white-t-shirt.svg/1200px-Linecons_white-t-shirt.svg.png" alt="">
        <p>Сумки</p>
      </div>
    <a href="http://127.0.0.1:8000/perfumery">
      <div class="card4">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Linecons_white-t-shirt.svg/1200px-Linecons_white-t-shirt.svg.png" alt="">
        <p>Парфюмерия</p>
      </div>
    </a>
    <a href="http://127.0.0.1:8000/accessories">
      <div class="card5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Linecons_white-t-shirt.svg/1200px-Linecons_white-t-shirt.svg.png" alt="">
        <p>Аксессуары</p>
      </div>
    </a>
    <a href="http://127.0.0.1:8000/sunglasses">
      <div class="card6">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Linecons_white-t-shirt.svg/1200px-Linecons_white-t-shirt.svg.png" alt="">
        <p>Солнечные очки</p>
      </div>
    </a>
  </div>

</body>
</html>
