<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <h1>
    Каталог
  </h1>
  <div class="cards">
    <a href={{url}}/Кроссовки>
      <div class="card1">
        <img src="{% static "imagecategory/im.png" %}" alt="">
        <p>Кроссовки</p>
      </div>
    </a>
    <a href={{url}}/Ботинки>
      <div class="card2">
        <img src="{% static "imagecategory/im.png" %}" alt="">
        <p>Ботинки</p>
      </div>
    </a>
    <a href={{url}}/Сумки>
      <div class="card3">
        <img src="{% static "imagecategory/im.png" %}" alt="">
        <p>Сумки</p>
      </div>
    <a href={{url}}/Парфюмерия>
      <div class="card4">
        <img src="{% static "imagecategory/im.png" %}" alt="">
        <p>Парфюмерия</p>
      </div>
    </a>
    <a href={{url}}/Аксессуары>
      <div class="card5">
        <img src="{% static "imagecategory/im.png" %}" alt="">
        <p>Аксессуары</p>
      </div>
    </a>
    <a href={{url}}/Солнечные очки>
      <div class="card6">
        <img src="{% static "imagecategory/im.png" %}" alt="">
        <p>Солнечные очки</p>
      </div>
    </a>
  </div>

</body>
</html>
