<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/style-prod-card.css" %}">
    <script src="{% static "script/script.js"%}"></script>
</head>
<body>
    <div class="product-card-container">
        <div class="back-button">
             <a href=http://194.87.210.247:8000/{{product.category}}><h2>&laquo;</h2></a>
        </div>
        <div class="img-container">
            <img src={{product.image0.url}} alt="" class="image-slide">
            <img src={{product.image1.url}} alt="" class="image-slide">
            <img src={{product.image2.url}} alt="" class="image-slide">
            <img src={{product.image3.url}} alt="" class="image-slide">
            <img src={{product.image4.url}} alt="" class="image-slide">
            <img src={{product.image5.url}} alt="" class="image-slide">
        </div>
        <button onclick="BackSlide()" class="slide-back but-slide">	&#8249;</button>
        <button onclick="NextSlide()" class="slide-next but-slide">&#8250;</button>

        <h5 style="justify-self: left; grid-column: 1/10; text-align: start ; margin-left: 10px;" class="name-card">{{product.name}}</h5>
        <div style="justify-self: left; grid-column: 1/11; text-align: start ; margin-left: 10px; line-height: 10px; font-size: 12px" class="description-card" >
            <p>ОПЛАТА ПОСЛЕ ПРММЕРКИ</p>
            <p>QR -код присутствует и пробивается</p>
            <p>Размерный ряд: 36 - 45 EU</p>
            <p>Гарантия на обмен и возврат товара</p>
            <p>❗️ДОСТАВКА❗️</p>
            <p>◾️️Доставим курьером в день заказа!</p>
            <p>◾️Самовывоз из нашего ПВЗ</p>
            <p>◾️Отправляем в любую точку мира (Почтой России, СДЭК)</p>
        </div>
        <p style="justify-self: left; grid-column: 1/10; text-align: start ; margin-left: 10px; grid-row: 2/3; align-self: end" class="price-card">Цена: {{product.price}}</p>
    </div>
</body>
</html>