<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/style-prod-catalog.css" %}">
</head>
<body>
    <div class="main-container">
        <h1>Каталог</h1>
        <div class="back-button">
             <a href="http://127.0.0.1:8000/" ><h2 style="color: #555555;">&laquo;</h2></a>
        </div>
        <div class="search-container">
            <form method="POST" action="">
                {% csrf_token %}
                <input name="search-str" type="text" placeholder="Найти...">
                <button name="search-name" type="submit">Поиск</button>
            </form>
        </div>
        <div class="products-container">
            {% if check %}
                {% for prod in products %}
                    <a href=/categories/{{prod.category}}/names/{{prod.name}}>
                      <div class="product-container">
                        <img src="{% static "images/img.png" %}" alt="">
                        <div class="product-name">
                            <p>{{prod.name}}</p>
                        </div>
                        <div class="product-price">
                            <p>{{prod.price}}</p>
                        </div>
                        <div class="button-basket">
                            <button>
                                <div class="text-menu">
                                    <div class="plus"><p>+</p></div>
                                    <div class="basket"><p>В корзину</p></div>
                                </div>
                            </button>
                        </div>
                      </div>
                    </a>
                {%endfor%}
            {% else %}
                <h1>Извините! Товаров не обнаружено</h1>
            {%endif%}
        </div>
        <footer>
            <form method="POST" action="">
                {% csrf_token %}
                {% if pre > 0 %}
                    <button type="submit" name="pre">Предыдущий</button>
                {%endif%}
                <button type="submit" name="next">Следующий</button>
            </form>
        </footer>
    </div>
</body>
</html>