<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/style-prod-catalog.css" %}">
</head>
<body>
    <div class="main-container">
        <h1>Каталог</h1>
        <div class="search-container">
            <input type="text" placeholder="Найти...">
            <button type="submit">Поиск</button>
        </div>
        <div class="products-container">
            <a href="http://127.0.0.1:8000/sneakers/products">
              <div class="product-container a">
                <img src="{% static "images/img.png" %}" alt="">
                <div class="product-name">
                    <p>Название</p>
                </div>
                <div class="product-price">
                    <p>Цена:</p>
                </div>
                <div class="button-basket">
                    <button>
                        <div class="text-menu">
                            <div class="plus"><p>+</p></div>
                            <div class="basket"><p>В корзину</p></div>
                        </div>
                    </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="product-container b">

                <img src="{% static "images/img.png" %}" alt="">
                <div class="product-name">
                    <p>Название</p>
                </div>
                <div class="product-price">
                    <p>Цена:</p>
                </div>
                <div class="button-basket">
                    <button>
                        <div class="text-menu">
                            <div class="plus"><p>+</p></div>
                            <div class="basket"><p>В корзину</p></div>
                        </div>
                    </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="product-container c">

                <img src="{% static "images/img.png" %}" alt="">
                <div class="product-name">
                    <p>Название</p>
                </div>
                <div class="product-price">
                    <p>Цена:</p>
                </div>
                <div class="button-basket">
                    <button>
                        <div class="text-menu">
                            <div class="plus"><p>+</p></div>
                            <div class="basket"><p>В корзину</p></div>
                        </div>
                    </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="product-container d">

                <img src="{% static "images/img.png" %}" alt="">
                <div class="product-name">
                    <p>Название</p>
                </div>
                <div class="product-price">
                    <p>Цена:</p>
                </div>
                <div class="button-basket">
                    <button>
                        <div class="text-menu">
                            <div class="plus"><p>+</p></div>
                            <div class="basket"><p>В корзину</p></div>
                        </div>
                    </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="product-container e">

                <img src="{% static "images/img.png" %}" alt="">
                <div class="product-name">
                    <p>Название</p>
                </div>
                <div class="product-price">
                    <p>Цена:</p>
                </div>
                <div class="button-basket">
                    <button>
                        <div class="text-menu">
                            <div class="plus"><p>+</p></div>
                            <div class="basket"><p>В корзину</p></div>
                        </div>
                    </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="product-container f">

                <img src="{% static "images/img.png" %}" alt="">
                <div class="product-name">
                    <p>Название</p>
                </div>
                <div class="product-price">
                    <p>Цена:</p>
                </div>
                <div class="button-basket">
                    <button>
                        <div class="text-menu">
                            <div class="plus"><p>+</p></div>
                            <div class="basket"><p>В корзину</p></div>
                        </div>
                    </button>
                </div>
              </div>
            </a>
            <a href="">
              <div class="product-container g">

                <img src="{% static "images/img.png" %}" alt="">
                <div class="product-name">
                    <p>Название</p>
                </div>
                <div class="product-price">
                    <p>Цена:</p>
                </div>
                <div class="button-basket">
                    <button>
                        <div class="text-menu">
                            <div class="plus"><p>+</p></div>
                            <div class="basket"><p>В корзину</p></div>
                        </div>
                    </button>
                </div>
              </div>
            </a>
            <a href="#">
              <div class="product-container h">

                <img src="{% static "images/img.png" %}" alt="">
                <div class="product-name">
                    <p>Название</p>
                </div>
                <div class="product-price">
                    <p>Цена:</p>
                </div>
                <div class="button-basket">
                    <button>
                        <div class="text-menu">
                            <div class="plus"><p>+</p></div>
                            <div class="basket"><p>В корзину</p></div>
                        </div>
                    </button>
                </div>
              </div>
            </a>
        </div>
    </div>
</body>
</html>