body{
  font-family: Verdana,sans-serif;
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
}
h1{
  margin-left: 0.5em;
}
.cards{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(2,1fr);
}
.cards img {
  width: 100%;
}
.cards p{
  text-align: center;
  align-items: center;
  border-top: solid;
  border-color: lightgray;
  border-width: 0.1px;
  margin: 0;
  color: #555555;
  padding-block: 10px;
}
.card1,.card2,.card3,.card4,.card5,.card6{
  border-style: solid;
  border-color: lightgray;
  border-width: 0.1px;
  border-radius: 30px;
  margin: 0.5em;
  box-shadow: 0px 2px lightgray;
}
.cards div:hover{
  border-color: grey;
}
